* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
   background-color: #B9CDFD;
}

h1 {
    margin: 15px;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    color: #495163;
}


.accessKeyInput {
    width: 30%;
    padding: 10px 15px;
    border-style: none;
}

.btnRemove {
   margin: 15px;
   background-color: #495163;
   color: #B9CDFD;
   border: 1px solid #4D6BB3;
   border-radius: 1rem;
   width: 30%;
   height: 35px;
   cursor: pointer;
   transition-duration: 0.4s;
}

.btnRemove:hover {
    background-color:#4D6BB3;
    border: 1px solid #495163;
}

#newText {
    flex-wrap: wrap;
}